{% extends 'base.html' %}
{% block titulo %}
    Login
{% endblock titulo %}
{% block cuerpo %}
        <section class="bottom-section" xmlns="http://www.w3.org/1999/html">
			<div class="shell">
				<div class="cols">
					<div class="col">
						<div class="newsletter">

						</div>
					</div>

					<div class="col">
						<h4>INTRODUZCA SU NOMBRE Y CONTRASEÑA</h4>
						<ul>
							<li>
                                <p><form action="." method="POST">
                                    {% csrf_token %}
                                    {{ mensaje }}
                                    {{ form.as_p }}
                                <p><input type="submit" class="" value="Login"></p>
                                </form></p>

                            </li>
						</ul>
					</div>

					<div class="col">

					</div>
					<div class="cl">&nbsp;</div>
				</div>
			</div>
		</section>
{% endblock cuerpo %}